.app-header{
    background-color: #263238;
    padding: 1vw;
    display: flex;
    align-items: center;
    height:30px;
}


.app-logo{
    color: #fff;
    font-size: 18px;
    float: left;
}


.formInput{
    margin-right: 40px;
}



.header-searchbox{

    margin-left: auto;
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #c0c0c0;
    border-radius: 4px;
    
}

.header-searchbox-off{
    margin-left: auto;
}

/* .profile-icon{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    border: solid;
    border-color: white;
    overflow: hidden;
    border-width: thin;
    margin-right:15px ;

}

.profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */